.hotbar{
    background-color: #FAFAFA;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
  }
  
  .hotbar a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: 200;
    font-size: 20px;
    transition: 0.4s ease-in-out;
  }
  
  .hotbar a:hover{
    color: #969696;
  }
  
  .logo-text{
    text-align: center;
    color: #FFF;
  }
  
  .footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    /* background: #fff; */
    border-top: 1px solid #dadada;
    margin: 0 100px;
    padding: 80px 30px;
  }
  
  
  .footer-content img{
    width: 100px;
    margin-top: -20px;
  }
  
  .footer-content h4{
    color: #FFF;
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  
  .footer-content li{
    color: #000;
    margin-bottom: 18px;
    text-decoration: none;
    list-style-type: none;
    
  }
  
  .footer-content li p{
    color: #000;
    font-size: 17px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .footer-content li a{
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #4b4b4b;
  }
  
  .footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0px;
    text-align: start;
  }
  
  #footer-info{
    margin-top: -25px;
    margin-left: 10px;
    font-weight: 500;
  }
  
  #place{
    font-weight: 400;
  }
  
  .icons{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .icons li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .icons a{
    display: inline-block;
    font-size: 30px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
    text-decoration: none;
  }
  
  .icons a:hover{
    color: #d6d6d6;
    transform: translateY(-3px) translateX(-5px);
  }
  
  .icons2{
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .icons2 li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .icons2 a{
    display: inline-block;
    font-size: 30px;
    color: #d6d6d6;
    margin: 10px;
    transition: all .40s ease;
    text-decoration: none;
  }
  
  .icons2 a:hover{
    color: #d6d6d6;
    transform: translateY(-3px) translateX(-5px);
  }
  
  .made-container{
    margin: 40px 200px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    
  }
  
  .made-container h2{
    color: #808080;
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: 200;
    font-family: 'Caviar Dreams', sans-serif;
  }
  
  .made-container a{
    color: #808080;
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: 200;
    font-family: 'Caviar Dreams', sans-serif;
    justify-content: end;
  }
  
  @media (max-width: 1275px) {
    .icons2{
      display: flex;
      position:relative;
      /* background: #fff; */
      margin: 0px 0px 0px;
      text-align: center;
      border-bottom: 1px solid #EEEEEE;
    }
  
    .icons{
      display: none;
    }
  
    .footer{
      border-bottom: 0px solid #EEEEEE;
  
    }
  }
  
  @media (max-width: 860px) {
  
    .hotbar{
        height: 400px;
    }
    
    .footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  
      border-bottom: 0px solid #EEEEEE;
      margin: 40px 0px 0px;
      padding: 20px;
    }
  
    .footer-content{
      margin-left: 25%;
    }
  
    .made-container{
        margin: 0px 0px;
        text-align: center;
    }
  
    section{
      margin-left: 0px;
      width: 100vw;
    
    }
  
    .footer-container{
      display: flex;
    }
  
    .made-container{
        margin: 0px 0px;
        text-align: center;
    }
  
    .footer-content li{
      margin-bottom: 18px;
      text-decoration: none;
      list-style-type: none;
      
    }
    
    .footer-content li p{
      font-size: 17px;
    }
    
    .footer-content li a{
      font-size: 15px;
    }
  }

@media (max-width:600px){
    .hotbar{
        background-color: #FAFAFA;
        height: 550px;
        font-family: 'Montserrat', sans-serif;
        padding-top: 50px;
    }
}